body {
    position: relative;
    height: 100vh;
    background-image: url(../public/images/bg.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

body::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.452);
    top: 0;
    left: 0;
    z-index: -1;
}

.userImg {
    width: 140px;
    height: 140px;
    border-radius: 10px;
}

.card {
/* From https://css.glass */
background: rgba(165, 165, 165, 0.33);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(9.9px);
-webkit-backdrop-filter: blur(9.9px);
border: 1px solid rgba(165, 165, 165, 0.3);
}

.light-color {
    color: rgb(202, 202, 202);
}

#userName {
    background-color: rgba(255, 255, 255, 0.711);
    padding: 10px 14px;
    color: black !important;
}

.form-control:focus {
    box-shadow: 0 0 0 .25rem rgba(212, 211, 211, 0.25);
    border: none;
}

.btn-dark {
    background-color: rgba(128, 128, 128, 0.76);
}

.btn-darks {
    background-color: rgba(216, 216, 216, 0.611);
    color: black;
    padding: 10px 16px;
    border: 1px solid rgb(82, 82, 82);
    font-weight: 600;
    transition: all 0.3s linear;
}

.btn-darks:hover {
    background-color: rgb(216, 216, 216);
}